@model IEnumerable<ServiceLayer.BlogServices.BlogListDto>


<h2>Blogs</h2>

@if (TempData["message"] != null)
{
    <div class="text-success">@TempData["message"]</div><br />
}
@if (TempData["errorMessage"] != null)
{
    <div class="text-danger"><strong>@TempData["errorMessage"]</strong></div>
}

<p>
    Below you will see a table of Blogs which can be manipulated, and analysed. 
</p>
<p>
    The point of this page is to provide a simple demonstration of calling a business method - click the Analyse link to trigger this.
</p>
<hr />
<div>
    <span>@Html.ActionLink("Create New Blogger", "Create") | @Html.ActionLink("Posts", "Index", "Posts")</span>
    @*<span class="pull-right"><strong>@Html.ActionLink("Explanation of the code", "CodeView")</strong></span>*@
</div>

<br>

<table id="tableBlogs" class="table">
    <thead>
        <tr>            
            <th>
                Name
            </th>
            <th>
                EmailAddress
            </th>
            <th>
                Num Posts this Author
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {

            //Configuring datatable plugin
            $("#tableBlogs").DataTable({
                "bFilter": false,
                "bProcessing": true,
                "bServerSide": true,
                "ajax": {
                    url: "/api/blogs",
                    method: 'GET',
                    dataSrc: "aaData"
                },
                columns: [
                    {
                        data: "Name",
                        width: "30%",
                        className: 'text-left',
                    },
                    {
                        data: "EmailAddress",
                        width: "30%",
                        className: 'text-left'
                    },
                    {
                        data: "NumPosts",
                        width: "30%",
                        className: 'text-center'
                    },
                    {
                        data: "BlogId",
                        width: "10%",
                        className: "text-right",
                        render: function (data, type, post) {

                            if ("@Request.IsAuthenticated" == "True") {
                                return "<span><a href='/Blogs/Edit/" + data + "'><i class='glyphicon glyphicon-pencil'></i></a> <a href='/Blogs/Delete/" + data + "'><i class='glyphicon glyphicon-trash'></i></a></span> <a href='/Posts/Index?blog= " + data + "'><i class='glyphicon glyphicon-list'></i></a>";
                            }
                            else {
                                return "<a href='/Blogs/Details/" + data + "'>Details</a>";
                            }

                        }
                    }
                ]
            });
        });
    </script>
}
